.h1{
	color: black;
	font-size: 28px;
	font-family: "arial black";
	text-align: center;
}
@media(min-width: 992px){
	.bl1{
		background-color: #DDDDDD;
		border: 1px solid black;
		width: 30%;
		margin-right: 3.75%;
		float: left;
		height: 350px;
		font-size: 16px;
	}
	.bl2{
		background-color: #DDDDDD;
		border: 1px solid black;
		width: 30%;
		margin-right: 3.75%;
		float: left;
		height: 350px;
		font-size: 16px;
	}
	.bl3{
		background-color: #DDDDDD;
		border: 1px solid black;
		width: 30%;
		float: left;
		height: 350px;
		font-size: 16px;
	}
	.pl1{
		text-align: right;
		background-color:  rgb(150,150,0);
		color: white;
		margin-left: 75%;
		border-left: 1px solid black;
		border-bottom: 1px solid black;
		text-align: center;
		font-size: 20px;
	}
	.pl2{
		text-align: right;
		background-color:  rgb(150,50,0);
		color: white;
		margin-left: 75%;
		border-left: 1px solid black;
		border-bottom: 1px solid black;
		text-align: center;
		font-size: 20px;
	}
	.pl3{
		text-align: right;
		background-color:  rgb(90,150,50);
		color: white;
		margin-left: 75%;
		border-left: 1px solid black;
		border-bottom: 1px solid black;
		text-align: center;
		font-size: 20px;
	}
}
@media(min-width: 768px) and (max-width: 991px){
	.bm1{
		background-color: #DDDDDD;
		border: 1px solid black;
		width: 45%;
		margin-right: 7%;
		float: left;
		height: 350px;
		margin-bottom: 20px;
		font-size: 16px;
	}
	.bm2{
		background-color: #DDDDDD;
		border: 1px solid black;
		width: 45%;
		float: left;
		height: 350px;
		margin-bottom: 20px;
		font-size: 16px;
	}
	.bm3{
		background-color: #DDDDDD;
		border: 1px solid black;
		width: 98%;
		float: left;
		height: 350px;
		font-size: 16px;
	}
	.pm1{
		text-align: right;
		background-color:  rgb(150,150,0);
		color: white;
		margin-left: 75%;
		border-left: 1px solid black;
		border-bottom: 1px solid black;
		text-align: center;
		font-size: 20px;
	}
	.pm2{
		text-align: right;
		background-color:  rgb(150,50,0);
		color: white;
		margin-left: 75%;
		border-left: 1px solid black;
		border-bottom: 1px solid black;
		text-align: center;
		font-size: 20px;
	}
	.pm3{
		text-align: right;
		background-color:  rgb(90,150,50);
		color: white;
		margin-left: 88.5%;
		border-left: 1px solid black;
		border-bottom: 1px solid black;
		text-align: center;
		font-size: 20px;
	}
}
@media(max-width: 767px){
	.bs1{
		background-color: #DDDDDD;
		border: 1px solid black;
		width: 98%;
		float: left;
		height: 350px;
		margin-bottom: 20px;
		font-size: 16px;
	}
	.bs2{
		background-color: #DDDDDD;
		border: 1px solid black;
		width: 98%;
		float: left;
		height: 350px;
		margin-bottom: 20px;
		font-size: 16px;
	}
	.bs3{
		background-color: #DDDDDD;
		border: 1px solid black;
		width: 98%;
		float: left;
		height: 350px;
		margin-bottom: 20px;
		font-size: 16px;
	}
	.ps1{
		text-align: right;
		background-color:  rgb(150,150,0);
		color: white;
		margin-left: 75%;
		border-left: 1px solid black;
		border-bottom: 1px solid black;
		text-align: center;
		font-size: 20px;
	}
	.ps2{
		text-align: right;
		background-color:  rgb(150,50,0);
		color: white;
		margin-left: 75%;
		border-left: 1px solid black;
		border-bottom: 1px solid black;
		text-align: center;
		font-size: 20px;
	}
	.ps3{
		text-align: right;
		background-color:  rgb(90,150,50);
		color: white;
		margin-left: 75%;
		border-left: 1px solid black;
		border-bottom: 1px solid black;
		text-align: center;
		font-size: 20px;
	}
}