.h1{
	color: black;
	font-size: 28px;
	font-family: "arial black";
	text-align: center;
}
nav.navbar{
	height: auto;
	background-color: #AAAAAA;
	margin-bottom: 10px;
}
.header-content1{
	font-family: "arial";
	font-size: 40px;
	font-weight: bold;
	margin: 0px 0px 0px 0.5%;
}

.button{
	display: none;
}
#cm1,#cm2,#cm3{
	display: none;
}
.msg1,.msg2,.msg3{
	display: none;
	text-align: center;
	color: black;
	border-style: solid;
	border-width: 2px;
	border-radius: 4px;
	margin-bottom: 4px;
	border-color: black;
	text-decoration: none;
	font-weight: bold;
}
@media(min-width: 992px){
	.bl1{
		background-color: #DDDDDD;
		border: 1px solid black;
		width: 30%;
		margin-right: 5%;
		float: left;
		font-size: 16px;
		height: auto;
	}
	.bl2{
		background-color: #DDDDDD;
		border: 1px solid black;
		width: 30%;
		margin-right: 5%;
		float: left;
		font-size: 16px;
		height: auto;
	}
	.bl3{
		background-color: #DDDDDD;
		border: 1px solid black;
		width: 30%;
		float: left;
		height: auto;
		font-size: 16px;
	}
	.pl1{
		text-align: center;
		color: black;
		text-align: center;
		font-weight: bold;
		font-size: 20px;
	}
	.msg1,.msg2,.msg3{
		display: none;
	}
}
@media(min-width: 768px) and (max-width: 991px){
	.bm1{
		background-color: #DDDDDD;
		border: 1px solid black;
		width: 45%;
		margin-right: 7%;
		float: left;
		height: auto;
		margin-bottom: 20px;
		font-size: 16px;
	}
	.bm2{
		background-color: #DDDDDD;
		border: 1px solid black;
		width: 45%;
		float: left;
		height: auto;
		margin-bottom: 20px;
		font-size: 16px;
	}
	.bm3{
		background-color: #DDDDDD;
		border: 1px solid black;
		width: 98%;
		float: left;
		height: auto;
		font-size: 16px;
	}
	.pl1{
		text-align: center;
		color: black;
		text-align: center;
		font-weight: bold;
		font-size: 20px;
	}
	.msg1,.msg2,.msg3{
		display: none;
	}
}
@media(max-width: 767px){
	button.button{
		height: auto;
		float: right;
		clear: both;
		text-align: center;
		background-color: #CCCCCC;
		font-size: 20px;
		margin-right: 1%;
		border-style: solid;
		border-radius: 8px;
		border-color: black;
		display: inline-block;
	}
	.bs1,.bs2,.bs3{
		background-color: #DDDDDD;
		border: 1px solid black;
		width: 100%;
		float: left;
		height: auto;
		margin-bottom: 20px;
		font-size: 16px;
	}
	.pl1{
		text-align: center;
		color: black;
		text-align: center;
		font-weight: bold;
		font-size: 20px;
	}
	#cm1,#cm2,#cm3{
	display: block;
}
}